<div>
    <app-card>
        <div class="header">
<span (click)="handleBack()"><i class="fa-solid fa-arrow-left"></i> Back</span>
        </div>
        <div class="input-row">
            <div class="input-container">
                <label>Partner Name</label>
                <input class="custom-input" type="text">
            </div>
            <div class="input-container">
                <label>Phone Number</label>
                <input class="custom-input" type="text">
            </div>
            <div class="button-container">
                <button class="submit-button">submit</button>
            </div>

        </div>
    </app-card>
    <!-- <app-card></app-card> -->
</div>