<div>
    <app-card>
        <p>Transactions</p>
<div class="card">
    <p-table styleClass="custom-table"[value]="transactions" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Transaction Type</th>
                <th>Transaction Amount</th>
                <th>Date</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-transaction>
            <tr>
                <td>{{transaction.id }}</td>
                <td>{{transaction.transaction_type }}</td>
                <td>{{transaction.transaction_amount }}</td>
                <td>{{transaction.date | date:'short' }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
    </app-card>
</div>
