<div>
    <app-card>
        <div class="table-header">
            <p>Loans</p>
            <div>
                <mat-button-toggle-group name="favoriteColor" style="height: 40px; margin-top: 1rem;" aria-label="Favorite Color">
                    <mat-button-toggle (click)="setActive('My-Loans')"  value="red"><span style="margin-top: -1rem; display: inline-block;">My Loans</span></mat-button-toggle>
                    <mat-button-toggle (click)="setActive('In-Progress')" value="green"><span style="margin-top: -1rem; display: inline-block;">In Progress</span></mat-button-toggle>
                    <mat-button-toggle (click)="setActive('Approve')" value="blue"><span style="margin-top: -1rem; display: inline-block;">Approve</span></mat-button-toggle>
                    <mat-button-toggle (click)="setActive('All')" value="blue"><span style="margin-top: -1rem; display: inline-block;">All Loans</span></mat-button-toggle>
                  </mat-button-toggle-group>
            </div>
            <button (click)="addLoan()" class="deposit-button">Apply Loan</button>
        </div>
        <div class="card" *ngIf= "activeTab === 'My-Loans'">
            <p-table styleClass="custom-table" [value]="loans" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>ID</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Date</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-loan>
                    <tr>
                        <td>{{loan.id }}</td>
                        <td>{{loan.transaction_amount }}</td>
                        <td><p-tag [value]="loan.status" [severity]="getSeverity(loan.status)"></p-tag></td>
                        <td>{{loan.date | date: 'short' }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="card" *ngIf= "activeTab === 'In-Progress'">
            <p-table styleClass="custom-table" [value]="processingLoan" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Member Name</th>
                        <th>Status</th>
                        <th>Date</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-loan>
                    <tr>
                        <td>{{loan.member_name }}</td>
                        <td><p-tag [value]="loan.status" [severity]="getSeverity(loan.status)"></p-tag></td>
                        <td>{{loan.date | date: 'short' }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div class="card" *ngIf= "activeTab === 'Approve'">
            <p-table styleClass="custom-table" [value]="awaitingApproval" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Member Name</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-loan>
                    <tr>
                        <td>{{loan.member_name }}</td>
                        <td>{{loan.transaction_amount}}</td>
                        <td>{{loan.date | date: 'short' }}</td>
                        <td><button class="approve-button" >Approve</button></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="card" *ngIf= "activeTab === 'All'">
            <p-table styleClass="custom-table" [value]="allMemberLoans" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>ID</th>
                        <th>Member Name</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Date</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-loan>
                    <tr>
                        <td>{{loan.id}}</td>
                        <td>{{loan.member_name }}</td>
                        <td>{{loan.transaction_amount}}</td>
                        <td><p-tag [value]="loan.status" [severity]="getSeverity(loan.status)"></p-tag></td>
                        <td>{{loan.date | date: 'short' }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </app-card>
</div>